@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 8, 20, 38;
  --gradient-end-rgb: 136, 115, 255;
  --gradient-start-rgb: 77, 240, 255;
  --primary: #4df0ff;
  --primary-lighter: #70ecfc;
}

html {
  color-scheme: dark;
}

body {
  color: #d6d6d6;
  background: rgb(var(--background-rgb));
}

h1 {
  color: var(--primary-lighter);
  font-size: 28px;
  margin-top: 32px;
  margin-bottom: 56px;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 250;
}

ul {
  font-weight: 200;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
}

li:before {
  color: var(--primary-lighter);
  content: ">";
  padding-right: 8px;
}


a h2, a b, a h1, a span {
  text-decoration: underline;
  text-decoration-color: var(--primary);
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.12em;
  text-underline-offset: 3.2px;
  transition: 0.15s ease;
}

a h2:hover, a b:hover, a h1:hover, a span:hover {
  color: var(--primary);
}

textarea:focus, button:focus {
  outline: none;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
